In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"Fashion Data\styles.csv")

In [3]:
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,Unnamed: 10,Unnamed: 11
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,NaN,NaN
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,NaN,NaN
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,NaN,NaN
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,NaN,NaN
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,NaN,NaN

In [4]:
df.isna().sum()

id                        0
gender                    0
masterCategory            0
subCategory               0
articleType               0
baseColour               15
season                   21
year                      1
usage                   317
productDisplayName        7
Unnamed: 10           44446
Unnamed: 11           44444
dtype: int64

In [5]:
df.drop(["Unnamed: 10","Unnamed: 11"],axis = 1,inplace = True)

In [6]:
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [7]:
df = df.apply(lambda col: col.fillna(col.mode()[0]))

In [8]:
df.isna().sum()

id                    0
gender                0
masterCategory        0
subCategory           0
articleType           0
baseColour            0
season                0
year                  0
usage                 0
productDisplayName    0
dtype: int64

In [9]:
df.columns

Index(['id', 'gender', 'masterCategory', 'subCategory', 'articleType',
       'baseColour', 'season', 'year', 'usage', 'productDisplayName'],
      dtype='object')

In [10]:
df["articleType"].unique()

array(['Shirts', 'Jeans', 'Watches', 'Track Pants', 'Tshirts', 'Socks',
       'Casual Shoes', 'Belts', 'Flip Flops', 'Handbags', 'Tops', 'Bra',
       'Sandals', 'Shoe Accessories', 'Sweatshirts', 'Deodorant',
       'Formal Shoes', 'Bracelet', 'Lipstick', 'Flats', 'Kurtas',
       'Waistcoat', 'Sports Shoes', 'Shorts', 'Briefs', 'Sarees',
       'Perfume and Body Mist', 'Heels', 'Sunglasses', 'Innerwear Vests',
       'Pendant', 'Nail Polish', 'Laptop Bag', 'Scarves', 'Rain Jacket',
       'Dresses', 'Night suits', 'Skirts', 'Wallets', 'Blazers', 'Ring',
       'Kurta Sets', 'Clutches', 'Shrug', 'Backpacks', 'Caps', 'Trousers',
       'Earrings', 'Camisoles', 'Boxers', 'Jewellery Set', 'Dupatta',
       'Capris', 'Lip Gloss', 'Bath Robe', 'Mufflers', 'Tunics',
       'Jackets', 'Trunk', 'Lounge Pants', 'Face Wash and Cleanser',
       'Necklace and Chains', 'Duffel Bag', 'Sports Sandals',
       'Foundation and Primer', 'Sweaters', 'Free Gifts', 'Trolley Bag',
       'Tracksuits', 'Swimwear', 'Shoe Laces', 'Fragrance Gift Set',
       'Bangle', 'Nightdress', 'Ties', 'Baby Dolls', 'Leggings',
       'Highlighter and Blush', 'Travel Accessory', 'Kurtis',
       'Mobile Pouch', 'Messenger Bag', 'Lip Care', 'Face Moisturisers',
       'Compact', 'Eye Cream', 'Accessory Gift Set', 'Beauty Accessory',
       'Jumpsuit', 'Kajal and Eyeliner', 'Water Bottle', 'Suspenders',
       'Lip Liner', 'Robe', 'Salwar and Dupatta', 'Patiala', 'Stockings',
       'Eyeshadow', 'Headband', 'Tights', 'Nail Essentials', 'Churidar',
       'Lounge Tshirts', 'Face Scrub and Exfoliator', 'Lounge Shorts',
       'Gloves', 'Mask and Peel', 'Wristbands', 'Tablet Sleeve',
       'Ties and Cufflinks', 'Footballs', 'Stoles', 'Shapewear',
       'Nehru Jackets', 'Salwar', 'Cufflinks', 'Jeggings', 'Hair Colour',
       'Concealer', 'Rompers', 'Body Lotion', 'Sunscreen', 'Booties',
       'Waist Pouch', 'Hair Accessory', 'Rucksacks', 'Basketballs',
       'Lehenga Choli', 'Clothing Set', 'Mascara', 'Toner',
       'Cushion Covers', 'Key chain', 'Makeup Remover', 'Lip Plumper',
       'Umbrellas', 'Face Serum and Gel', 'Hat', 'Mens Grooming Kit',
       'Rain Trousers', 'Body Wash and Scrub', 'Suits', 'Ipad'],
      dtype=object)

In [11]:
df["subCategory"].unique()

array(['Topwear', 'Bottomwear', 'Watches', 'Socks', 'Shoes', 'Belts',
       'Flip Flops', 'Bags', 'Innerwear', 'Sandal', 'Shoe Accessories',
       'Fragrance', 'Jewellery', 'Lips', 'Saree', 'Eyewear', 'Nails',
       'Scarves', 'Dress', 'Loungewear and Nightwear', 'Wallets',
       'Apparel Set', 'Headwear', 'Mufflers', 'Skin Care', 'Makeup',
       'Free Gifts', 'Ties', 'Accessories', 'Skin', 'Beauty Accessories',
       'Water Bottle', 'Eyes', 'Bath and Body', 'Gloves',
       'Sports Accessories', 'Cufflinks', 'Sports Equipment', 'Stoles',
       'Hair', 'Perfumes', 'Home Furnishing', 'Umbrellas', 'Wristbands',
       'Vouchers'], dtype=object)

In [12]:
df["articleType"].unique()

array(['Shirts', 'Jeans', 'Watches', 'Track Pants', 'Tshirts', 'Socks',
       'Casual Shoes', 'Belts', 'Flip Flops', 'Handbags', 'Tops', 'Bra',
       'Sandals', 'Shoe Accessories', 'Sweatshirts', 'Deodorant',
       'Formal Shoes', 'Bracelet', 'Lipstick', 'Flats', 'Kurtas',
       'Waistcoat', 'Sports Shoes', 'Shorts', 'Briefs', 'Sarees',
       'Perfume and Body Mist', 'Heels', 'Sunglasses', 'Innerwear Vests',
       'Pendant', 'Nail Polish', 'Laptop Bag', 'Scarves', 'Rain Jacket',
       'Dresses', 'Night suits', 'Skirts', 'Wallets', 'Blazers', 'Ring',
       'Kurta Sets', 'Clutches', 'Shrug', 'Backpacks', 'Caps', 'Trousers',
       'Earrings', 'Camisoles', 'Boxers', 'Jewellery Set', 'Dupatta',
       'Capris', 'Lip Gloss', 'Bath Robe', 'Mufflers', 'Tunics',
       'Jackets', 'Trunk', 'Lounge Pants', 'Face Wash and Cleanser',
       'Necklace and Chains', 'Duffel Bag', 'Sports Sandals',
       'Foundation and Primer', 'Sweaters', 'Free Gifts', 'Trolley Bag',
       'Tracksuits', 'Swimwear', 'Shoe Laces', 'Fragrance Gift Set',
       'Bangle', 'Nightdress', 'Ties', 'Baby Dolls', 'Leggings',
       'Highlighter and Blush', 'Travel Accessory', 'Kurtis',
       'Mobile Pouch', 'Messenger Bag', 'Lip Care', 'Face Moisturisers',
       'Compact', 'Eye Cream', 'Accessory Gift Set', 'Beauty Accessory',
       'Jumpsuit', 'Kajal and Eyeliner', 'Water Bottle', 'Suspenders',
       'Lip Liner', 'Robe', 'Salwar and Dupatta', 'Patiala', 'Stockings',
       'Eyeshadow', 'Headband', 'Tights', 'Nail Essentials', 'Churidar',
       'Lounge Tshirts', 'Face Scrub and Exfoliator', 'Lounge Shorts',
       'Gloves', 'Mask and Peel', 'Wristbands', 'Tablet Sleeve',
       'Ties and Cufflinks', 'Footballs', 'Stoles', 'Shapewear',
       'Nehru Jackets', 'Salwar', 'Cufflinks', 'Jeggings', 'Hair Colour',
       'Concealer', 'Rompers', 'Body Lotion', 'Sunscreen', 'Booties',
       'Waist Pouch', 'Hair Accessory', 'Rucksacks', 'Basketballs',
       'Lehenga Choli', 'Clothing Set', 'Mascara', 'Toner',
       'Cushion Covers', 'Key chain', 'Makeup Remover', 'Lip Plumper',
       'Umbrellas', 'Face Serum and Gel', 'Hat', 'Mens Grooming Kit',
       'Rain Trousers', 'Body Wash and Scrub', 'Suits', 'Ipad'],
      dtype=object)

In [13]:
a = list(df["articleType"].unique())

In [14]:
a

['Shirts',
 'Jeans',
 'Watches',
 'Track Pants',
 'Tshirts',
 'Socks',
 'Casual Shoes',
 'Belts',
 'Flip Flops',
 'Handbags',
 'Tops',
 'Bra',
 'Sandals',
 'Shoe Accessories',
 'Sweatshirts',
 'Deodorant',
 'Formal Shoes',
 'Bracelet',
 'Lipstick',
 'Flats',
 'Kurtas',
 'Waistcoat',
 'Sports Shoes',
 'Shorts',
 'Briefs',
 'Sarees',
 'Perfume and Body Mist',
 'Heels',
 'Sunglasses',
 'Innerwear Vests',
 'Pendant',
 'Nail Polish',
 'Laptop Bag',
 'Scarves',
 'Rain Jacket',
 'Dresses',
 'Night suits',
 'Skirts',
 'Wallets',
 'Blazers',
 'Ring',
 'Kurta Sets',
 'Clutches',
 'Shrug',
 'Backpacks',
 'Caps',
 'Trousers',
 'Earrings',
 'Camisoles',
 'Boxers',
 'Jewellery Set',
 'Dupatta',
 'Capris',
 'Lip Gloss',
 'Bath Robe',
 'Mufflers',
 'Tunics',
 'Jackets',
 'Trunk',
 'Lounge Pants',
 'Face Wash and Cleanser',
 'Necklace and Chains',
 'Duffel Bag',
 'Sports Sandals',
 'Foundation and Primer',
 'Sweaters',
 'Free Gifts',
 'Trolley Bag',
 'Tracksuits',
 'Swimwear',
 'Shoe Laces',
 'Fragrance Gift Set',
 'Bangle',
 'Nightdress',
 'Ties',
 'Baby Dolls',
 'Leggings',
 'Highlighter and Blush',
 'Travel Accessory',
 'Kurtis',
 'Mobile Pouch',
 'Messenger Bag',
 'Lip Care',
 'Face Moisturisers',
 'Compact',
 'Eye Cream',
 'Accessory Gift Set',
 'Beauty Accessory',
 'Jumpsuit',
 'Kajal and Eyeliner',
 'Water Bottle',
 'Suspenders',
 'Lip Liner',
 'Robe',
 'Salwar and Dupatta',
 'Patiala',
 'Stockings',
 'Eyeshadow',
 'Headband',
 'Tights',
 'Nail Essentials',
 'Churidar',
 'Lounge Tshirts',
 'Face Scrub and Exfoliator',
 'Lounge Shorts',
 'Gloves',
 'Mask and Peel',
 'Wristbands',
 'Tablet Sleeve',
 'Ties and Cufflinks',
 'Footballs',
 'Stoles',
 'Shapewear',
 'Nehru Jackets',
 'Salwar',
 'Cufflinks',
 'Jeggings',
 'Hair Colour',
 'Concealer',
 'Rompers',
 'Body Lotion',
 'Sunscreen',
 'Booties',
 'Waist Pouch',
 'Hair Accessory',
 'Rucksacks',
 'Basketballs',
 'Lehenga Choli',
 'Clothing Set',
 'Mascara',
 'Toner',
 'Cushion Covers',
 'Key chain',
 'Makeup Remover',
 'Lip Plumper',
 'Umbrellas',
 'Face Serum and Gel',
 'Hat',
 'Mens Grooming Kit',
 'Rain Trousers',
 'Body Wash and Scrub',
 'Suits',
 'Ipad']

In [15]:
df["season"].unique()

array(['Fall', 'Summer', 'Winter', 'Spring'], dtype=object)

In [16]:
df["gender"].unique()

array(['Men', 'Women', 'Boys', 'Girls', 'Unisex'], dtype=object)

In [17]:
df.to_csv("Fashion Data/final_styles.csv")

In [18]:
df[df["id"] == 1163]

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
12904,1163,Men,Apparel,Topwear,Tshirts,Blue,Summer,2011.0,Sports,Nike Sahara Team India Fanwear Round Neck Jersey

In [19]:
df[df["subCategory"] == "Innerwear"]

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
18,51832,Women,Apparel,Innerwear,Bra,Beige,Summer,2016.0,Casual,Bwitch Beige Full-Coverage Bra BW335
47,17871,Men,Apparel,Innerwear,Briefs,Maroon,Winter,2016.0,Casual,Levis Men Boxer Maroon Brief
53,32138,Men,Apparel,Innerwear,Briefs,Blue,Summer,2016.0,Casual,Playboy Men Blue Titanium Briefs
83,17885,Men,Apparel,Innerwear,Innerwear Vests,Grey,Summer,2016.0,Casual,Levis Men Comfort Style Grey Innerwear Vest
95,25349,Men,Apparel,Innerwear,Briefs,Red,Summer,2016.0,Casual,Levis Men Red Brief
...,...,...,...,...,...,...,...,...,...,...
44391,45647,Men,Apparel,Innerwear,Briefs,Navy Blue,Summer,2016.0,Casual,Park Avenue Men Navy Blue Briefs
44395,57382,Women,Apparel,Innerwear,Briefs,Black,Winter,2015.0,Casual,Amante Women Pack of 2 Briefs PFCN03
44399,27491,Women,Apparel,Innerwear,Briefs,Pink,Winter,2015.0,Casual,Jockey Women Pink Briefs
44424,15761,Men,Apparel,Innerwear,Innerwear Vests,Green,Summer,2016.0,Casual,Facit Men Hunk Green Innerwear Vest
44429,32143,Men,Apparel,Innerwear,Briefs,Red,Summer,2016.0,Casual,Playboy Men Duet Pack of 2 Briefs

In [20]:
randint()

NameError: name 'randint' is not defined

In [ ]:
for i in range(5):
    p = random.randint(0, len(a))
    print(df[df["articleType"] == a[p]])

In [ ]:
a

In [21]:
ima = pd.read_csv("Fashion Data/images.csv")

In [29]:
ima["filename"] = ima["filename"].apply(lambda i:i.split(".")[0])

In [23]:
a = "51623.jpg"

In [27]:
a.split(".")[0]

['51623', 'jpg']

In [30]:
ima

      filename                                               link
0        15970  http://assets.myntassets.com/v1/images/style/p...
1        39386  http://assets.myntassets.com/v1/images/style/p...
2        59263  http://assets.myntassets.com/v1/images/style/p...
3        21379  http://assets.myntassets.com/v1/images/style/p...
4        53759  http://assets.myntassets.com/v1/images/style/p...
...        ...                                                ...
44441    17036  http://assets.myntassets.com/v1/images/style/p...
44442     6461  http://assets.myntassets.com/v1/images/style/p...
44443    18842  http://assets.myntassets.com/v1/images/style/p...
44444    46694  http://assets.myntassets.com/v1/images/style/p...
44445    51623  http://assets.myntassets.com/assets/images/516...

[44446 rows x 2 columns]

In [31]:
ima.to_csv("Fashion Data/images_final.csv")

In [32]:
import json

In [48]:
with open ("E:\downloads\styles\\1808.json","r") as file:
    data = json.load(file)

In [36]:
data["data"][["price","discounted","myntraRating","brandname"]]

TypeError: unhashable type: 'list'

In [49]:
data["data"]

{'id': 1808,
 'price': 699,
 'discountedPrice': 699,
 'styleType': 'P',
 'productTypeId': 295,
 'articleNumber': '1212497',
 'visualTag': '',
 'productDisplayName': 'Quechua Aluminium Print Water Bottle',
 'variantName': 'Quechua Aluminium Print Water Bottle',
 'myntraRating': 0,
 'catalogAddDate': 1445524255,
 'brandName': 'Quechua',
 'ageGroup': 'Adults-Unisex',
 'gender': 'Unisex',
 'baseColour': 'Purple',
 'colour1': '',
 'colour2': '',
 'fashionType': 'Fashion',
 'season': 'Fall',
 'year': '2010',
 'usage': 'Sports',
 'vat': 14.5,
 'displayCategories': 'Accessories',
 'weight': '0',
 'navigationId': 0,
 'landingPageUrl': 'Water-Bottle/Quechua/Quechua-Aluminium-Print-Water-Bottle/1808/buy',
 'articleAttributes': {},
 'crossLinks': [{'key': 'More Water Bottle by Quechua',
   'value': 'water-bottle?f=brand:Quechua::gender:men women'},
  {'key': 'More Purple Water Bottle',
   'value': 'water-bottle?f=colour:Purple::gender:men women'},
  {'key': 'More Water Bottle', 'value': 'water-bottle?f=gender:men women'}],
 'brandUserProfile': {},
 'codEnabled': True,
 'styleImages': {'default': {'imageURL': 'http://assets.myntassets.com/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images.jpg',
   'resolutions': {'1080X1440Xmini': 'http://assets.myntassets.com/h_1440,q_95,w_1080/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images_mini.jpg',
    '48X64': 'http://assets.myntassets.com/h_64,q_95,w_48/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images.jpg',
    '1080X1440': 'http://assets.myntassets.com/h_1440,q_95,w_1080/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images.jpg',
    '150X200': 'http://assets.myntassets.com/h_200,q_95,w_150/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images.jpg',
    '360X480': 'http://assets.myntassets.com/h_480,q_95,w_360/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images.jpg',
    '180X240': 'http://assets.myntassets.com/h_240,q_95,w_180/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images.jpg',
    '360X480Xmini': 'http://assets.myntassets.com/h_480,q_95,w_360/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images_mini.jpg',
    '180X240Xmini': 'http://assets.myntassets.com/h_240,q_95,w_180/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images_mini.jpg',
    '150X200Xmini': 'http://assets.myntassets.com/h_200,q_95,w_150/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images_mini.jpg',
    '48X64Xmini': 'http://assets.myntassets.com/h_64,q_95,w_48/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images_mini.jpg',
    '125X161': 'http://assets.myntassets.com/h_161,q_95,w_125/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images.jpg',
    '125X161Xmini': 'http://assets.myntassets.com/h_161,q_95,w_125/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images_mini.jpg'},
   'imageType': 'default'},
  'search': {'imageURL': 'http://assets.myntassets.com/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images.jpg',
   'resolutions': {'1080X1440Xmini': 'http://assets.myntassets.com/h_1440,q_95,w_1080/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images_mini.jpg',
    '48X64': 'http://assets.myntassets.com/h_64,q_95,w_48/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images.jpg',
    '1080X1440': 'http://assets.myntassets.com/h_1440,q_95,w_1080/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images.jpg',
    '150X200': 'http://assets.myntassets.com/h_200,q_95,w_150/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images.jpg',
    '360X480': 'http://assets.myntassets.com/h_480,q_95,w_360/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images.jpg',
    '180X240': 'http://assets.myntassets.com/h_240,q_95,w_180/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images.jpg',
    '360X480Xmini': 'http://assets.myntassets.com/h_480,q_95,w_360/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images_mini.jpg',
    '180X240Xmini': 'http://assets.myntassets.com/h_240,q_95,w_180/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images_mini.jpg',
    '150X200Xmini': 'http://assets.myntassets.com/h_200,q_95,w_150/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images_mini.jpg',
    '48X64Xmini': 'http://assets.myntassets.com/h_64,q_95,w_48/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images_mini.jpg',
    '125X161': 'http://assets.myntassets.com/h_161,q_95,w_125/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images.jpg',
    '125X161Xmini': 'http://assets.myntassets.com/h_161,q_95,w_125/v1/images/style/properties/476153bcecad2ec9c9cbb753bca7f0ee_images_mini.jpg'},
   'imageType': 'search'},
  'front': {'imageURL': 'http://assets.myntassets.com/v1/images/style/properties/9a0d80c06cf3cddfeea05a986659e904_images.jpg',
   'resolutions': {'1080X1440Xmini': 'http://assets.myntassets.com/h_1440,q_95,w_1080/v1/images/style/properties/9a0d80c06cf3cddfeea05a986659e904_images_mini.jpg',
    '48X64': 'http://assets.myntassets.com/h_64,q_95,w_48/v1/images/style/properties/9a0d80c06cf3cddfeea05a986659e904_images.jpg',
    '1080X1440': 'http://assets.myntassets.com/h_1440,q_95,w_1080/v1/images/style/properties/9a0d80c06cf3cddfeea05a986659e904_images.jpg',
    '150X200': 'http://assets.myntassets.com/h_200,q_95,w_150/v1/images/style/properties/9a0d80c06cf3cddfeea05a986659e904_images.jpg',
    '360X480': 'http://assets.myntassets.com/h_480,q_95,w_360/v1/images/style/properties/9a0d80c06cf3cddfeea05a986659e904_images.jpg',
    '180X240': 'http://assets.myntassets.com/h_240,q_95,w_180/v1/images/style/properties/9a0d80c06cf3cddfeea05a986659e904_images.jpg',
    '360X480Xmini': 'http://assets.myntassets.com/h_480,q_95,w_360/v1/images/style/properties/9a0d80c06cf3cddfeea05a986659e904_images_mini.jpg',
    '180X240Xmini': 'http://assets.myntassets.com/h_240,q_95,w_180/v1/images/style/properties/9a0d80c06cf3cddfeea05a986659e904_images_mini.jpg',
    '150X200Xmini': 'http://assets.myntassets.com/h_200,q_95,w_150/v1/images/style/properties/9a0d80c06cf3cddfeea05a986659e904_images_mini.jpg',
    '48X64Xmini': 'http://assets.myntassets.com/h_64,q_95,w_48/v1/images/style/properties/9a0d80c06cf3cddfeea05a986659e904_images_mini.jpg',
    '125X161': 'http://assets.myntassets.com/h_161,q_95,w_125/v1/images/style/properties/9a0d80c06cf3cddfeea05a986659e904_images.jpg',
    '125X161Xmini': 'http://assets.myntassets.com/h_161,q_95,w_125/v1/images/style/properties/9a0d80c06cf3cddfeea05a986659e904_images_mini.jpg'},
   'imageType': 'front'}},
 'lookGoodAlbum': {},
 'style360Images': {},
 'masterCategory': {'id': 1,
  'typeName': 'Accessories',
  'active': True,
  'socialSharingEnabled': True,
  'isReturnable': True,
  'isExchangeable': True,
  'pickupEnabled': True,
  'isTryAndBuyEnabled': True},
 'subCategory': {'id': 117,
  'typeName': 'Water Bottle',
  'active': True,
  'socialSharingEnabled': True,
  'isReturnable': True,
  'isExchangeable': True,
  'pickupEnabled': True,
  'isTryAndBuyEnabled': True},
 'articleType': {'id': 105,
  'typeName': 'Water Bottle',
  'active': True,
  'socialSharingEnabled': True,
  'isReturnable': True,
  'isExchangeable': True,
  'pickupEnabled': True,
  'isTryAndBuyEnabled': True,
  'isMyntsEnabled': True,
  'serviceabilityDisclaimer': {'title': '', 'desc': ''}},
 'isEMIEnabled': False,
 'otherFlags': [{'dataType': 'BOOLEAN', 'name': 'isFragile', 'value': 'false'},
  {'dataType': 'BOOLEAN', 'name': 'isTryAndBuyEnabled', 'value': 'true'},
  {'dataType': 'BOOLEAN', 'name': 'isHazmat', 'value': 'false'},
  {'dataType': 'BOOLEAN', 'name': 'isJewellery', 'value': 'false'},
  {'dataType': 'BOOLEAN', 'name': 'isReturnable', 'value': 'true'},
  {'dataType': 'BOOLEAN', 'name': 'isExchangeable', 'value': 'true'},
  {'dataType': 'BOOLEAN', 'name': 'active', 'value': 'true'},
  {'dataType': 'BOOLEAN', 'name': 'socialSharingEnabled', 'value': 'true'},
  {'dataType': 'BOOLEAN', 'name': 'pickupEnabled', 'value': 'true'},
  {'dataType': 'BOOLEAN', 'name': 'isLarge', 'value': 'false'},
  {'dataType': 'BOOLEAN', 'name': 'codEnabled', 'value': 'true'}],
 'articleDisplayAttr': {'id': 105,
  'core': {'order': '0',
   'display': '2',
   'pdtDetail': '1',
   'pdtDeliveryOptions': '2',
   'pdtSimilar': '2',
   'pdtLike': '2'},
  'social': {'order': '1',
   'display': '2',
   'userLikes': '1',
   'styleNotes': '2',
   'crossSell': '1'},
  'explore': {'display': '2', 'crosslink': '1', 'similar': '1', 'order': '2'}},
 'productDescriptors': {'description': {'descriptorType': 'description',
   'value': "<p>This cool bottle is made specially for kids. It is lightweight, easy to carry and has an absolutely adorable colour. There are fancy drawings on the bottle that will rouse your child's interest. The tight lid and a safety latch in the bottle prevents leaks and spills. It is also environment friendly as the bottle is made of recyclable material.</p>"}},
 'styleOptions': [{'id': 5920,
   'name': 'Size',
   'value': '0.6L',
   'unifiedSize': 'Onesize',
   'unifiedSizeValue': 'Onesize',
   'unifiedSizeScale': '',
   'allSize': 'Onesize,0.6L',
   'skuId': 9813,
   'skuAvailabilityDetailMap': {},
   'warehouseIdToItemCountMap': {},
   'inventoryCount': 0,
   'available': False,
   'active': True}]}