In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"Fashion Data\styles.csv")

In [3]:
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,Unnamed: 10,Unnamed: 11
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,NaN,NaN
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,NaN,NaN
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,NaN,NaN
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,NaN,NaN
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,NaN,NaN

In [4]:
df.isna().sum()

id                        0
gender                    0
masterCategory            0
subCategory               0
articleType               0
baseColour               15
season                   21
year                      1
usage                   317
productDisplayName        7
Unnamed: 10           44446
Unnamed: 11           44444
dtype: int64

In [5]:
df.drop(["Unnamed: 10","Unnamed: 11"],axis = 1,inplace = True)

In [6]:
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [7]:
df = df.apply(lambda col: col.fillna(col.mode()[0]))

In [8]:
df.isna().sum()

id                    0
gender                0
masterCategory        0
subCategory           0
articleType           0
baseColour            0
season                0
year                  0
usage                 0
productDisplayName    0
dtype: int64

In [9]:
df.columns

Index(['id', 'gender', 'masterCategory', 'subCategory', 'articleType',
       'baseColour', 'season', 'year', 'usage', 'productDisplayName'],
      dtype='object')

In [10]:
df["articleType"].unique()

array(['Shirts', 'Jeans', 'Watches', 'Track Pants', 'Tshirts', 'Socks',
       'Casual Shoes', 'Belts', 'Flip Flops', 'Handbags', 'Tops', 'Bra',
       'Sandals', 'Shoe Accessories', 'Sweatshirts', 'Deodorant',
       'Formal Shoes', 'Bracelet', 'Lipstick', 'Flats', 'Kurtas',
       'Waistcoat', 'Sports Shoes', 'Shorts', 'Briefs', 'Sarees',
       'Perfume and Body Mist', 'Heels', 'Sunglasses', 'Innerwear Vests',
       'Pendant', 'Nail Polish', 'Laptop Bag', 'Scarves', 'Rain Jacket',
       'Dresses', 'Night suits', 'Skirts', 'Wallets', 'Blazers', 'Ring',
       'Kurta Sets', 'Clutches', 'Shrug', 'Backpacks', 'Caps', 'Trousers',
       'Earrings', 'Camisoles', 'Boxers', 'Jewellery Set', 'Dupatta',
       'Capris', 'Lip Gloss', 'Bath Robe', 'Mufflers', 'Tunics',
       'Jackets', 'Trunk', 'Lounge Pants', 'Face Wash and Cleanser',
       'Necklace and Chains', 'Duffel Bag', 'Sports Sandals',
       'Foundation and Primer', 'Sweaters', 'Free Gifts', 'Trolley Bag',
       'Tracksuits', 'Swimwear', 'Shoe Laces', 'Fragrance Gift Set',
       'Bangle', 'Nightdress', 'Ties', 'Baby Dolls', 'Leggings',
       'Highlighter and Blush', 'Travel Accessory', 'Kurtis',
       'Mobile Pouch', 'Messenger Bag', 'Lip Care', 'Face Moisturisers',
       'Compact', 'Eye Cream', 'Accessory Gift Set', 'Beauty Accessory',
       'Jumpsuit', 'Kajal and Eyeliner', 'Water Bottle', 'Suspenders',
       'Lip Liner', 'Robe', 'Salwar and Dupatta', 'Patiala', 'Stockings',
       'Eyeshadow', 'Headband', 'Tights', 'Nail Essentials', 'Churidar',
       'Lounge Tshirts', 'Face Scrub and Exfoliator', 'Lounge Shorts',
       'Gloves', 'Mask and Peel', 'Wristbands', 'Tablet Sleeve',
       'Ties and Cufflinks', 'Footballs', 'Stoles', 'Shapewear',
       'Nehru Jackets', 'Salwar', 'Cufflinks', 'Jeggings', 'Hair Colour',
       'Concealer', 'Rompers', 'Body Lotion', 'Sunscreen', 'Booties',
       'Waist Pouch', 'Hair Accessory', 'Rucksacks', 'Basketballs',
       'Lehenga Choli', 'Clothing Set', 'Mascara', 'Toner',
       'Cushion Covers', 'Key chain', 'Makeup Remover', 'Lip Plumper',
       'Umbrellas', 'Face Serum and Gel', 'Hat', 'Mens Grooming Kit',
       'Rain Trousers', 'Body Wash and Scrub', 'Suits', 'Ipad'],
      dtype=object)

In [11]:
df["subCategory"].unique()

array(['Topwear', 'Bottomwear', 'Watches', 'Socks', 'Shoes', 'Belts',
       'Flip Flops', 'Bags', 'Innerwear', 'Sandal', 'Shoe Accessories',
       'Fragrance', 'Jewellery', 'Lips', 'Saree', 'Eyewear', 'Nails',
       'Scarves', 'Dress', 'Loungewear and Nightwear', 'Wallets',
       'Apparel Set', 'Headwear', 'Mufflers', 'Skin Care', 'Makeup',
       'Free Gifts', 'Ties', 'Accessories', 'Skin', 'Beauty Accessories',
       'Water Bottle', 'Eyes', 'Bath and Body', 'Gloves',
       'Sports Accessories', 'Cufflinks', 'Sports Equipment', 'Stoles',
       'Hair', 'Perfumes', 'Home Furnishing', 'Umbrellas', 'Wristbands',
       'Vouchers'], dtype=object)

In [12]:
df["articleType"].unique()

array(['Shirts', 'Jeans', 'Watches', 'Track Pants', 'Tshirts', 'Socks',
       'Casual Shoes', 'Belts', 'Flip Flops', 'Handbags', 'Tops', 'Bra',
       'Sandals', 'Shoe Accessories', 'Sweatshirts', 'Deodorant',
       'Formal Shoes', 'Bracelet', 'Lipstick', 'Flats', 'Kurtas',
       'Waistcoat', 'Sports Shoes', 'Shorts', 'Briefs', 'Sarees',
       'Perfume and Body Mist', 'Heels', 'Sunglasses', 'Innerwear Vests',
       'Pendant', 'Nail Polish', 'Laptop Bag', 'Scarves', 'Rain Jacket',
       'Dresses', 'Night suits', 'Skirts', 'Wallets', 'Blazers', 'Ring',
       'Kurta Sets', 'Clutches', 'Shrug', 'Backpacks', 'Caps', 'Trousers',
       'Earrings', 'Camisoles', 'Boxers', 'Jewellery Set', 'Dupatta',
       'Capris', 'Lip Gloss', 'Bath Robe', 'Mufflers', 'Tunics',
       'Jackets', 'Trunk', 'Lounge Pants', 'Face Wash and Cleanser',
       'Necklace and Chains', 'Duffel Bag', 'Sports Sandals',
       'Foundation and Primer', 'Sweaters', 'Free Gifts', 'Trolley Bag',
       'Tracksuits', 'Swimwear', 'Shoe Laces', 'Fragrance Gift Set',
       'Bangle', 'Nightdress', 'Ties', 'Baby Dolls', 'Leggings',
       'Highlighter and Blush', 'Travel Accessory', 'Kurtis',
       'Mobile Pouch', 'Messenger Bag', 'Lip Care', 'Face Moisturisers',
       'Compact', 'Eye Cream', 'Accessory Gift Set', 'Beauty Accessory',
       'Jumpsuit', 'Kajal and Eyeliner', 'Water Bottle', 'Suspenders',
       'Lip Liner', 'Robe', 'Salwar and Dupatta', 'Patiala', 'Stockings',
       'Eyeshadow', 'Headband', 'Tights', 'Nail Essentials', 'Churidar',
       'Lounge Tshirts', 'Face Scrub and Exfoliator', 'Lounge Shorts',
       'Gloves', 'Mask and Peel', 'Wristbands', 'Tablet Sleeve',
       'Ties and Cufflinks', 'Footballs', 'Stoles', 'Shapewear',
       'Nehru Jackets', 'Salwar', 'Cufflinks', 'Jeggings', 'Hair Colour',
       'Concealer', 'Rompers', 'Body Lotion', 'Sunscreen', 'Booties',
       'Waist Pouch', 'Hair Accessory', 'Rucksacks', 'Basketballs',
       'Lehenga Choli', 'Clothing Set', 'Mascara', 'Toner',
       'Cushion Covers', 'Key chain', 'Makeup Remover', 'Lip Plumper',
       'Umbrellas', 'Face Serum and Gel', 'Hat', 'Mens Grooming Kit',
       'Rain Trousers', 'Body Wash and Scrub', 'Suits', 'Ipad'],
      dtype=object)

In [13]:
a = list(df["articleType"].unique())

In [14]:
a

['Shirts',
 'Jeans',
 'Watches',
 'Track Pants',
 'Tshirts',
 'Socks',
 'Casual Shoes',
 'Belts',
 'Flip Flops',
 'Handbags',
 'Tops',
 'Bra',
 'Sandals',
 'Shoe Accessories',
 'Sweatshirts',
 'Deodorant',
 'Formal Shoes',
 'Bracelet',
 'Lipstick',
 'Flats',
 'Kurtas',
 'Waistcoat',
 'Sports Shoes',
 'Shorts',
 'Briefs',
 'Sarees',
 'Perfume and Body Mist',
 'Heels',
 'Sunglasses',
 'Innerwear Vests',
 'Pendant',
 'Nail Polish',
 'Laptop Bag',
 'Scarves',
 'Rain Jacket',
 'Dresses',
 'Night suits',
 'Skirts',
 'Wallets',
 'Blazers',
 'Ring',
 'Kurta Sets',
 'Clutches',
 'Shrug',
 'Backpacks',
 'Caps',
 'Trousers',
 'Earrings',
 'Camisoles',
 'Boxers',
 'Jewellery Set',
 'Dupatta',
 'Capris',
 'Lip Gloss',
 'Bath Robe',
 'Mufflers',
 'Tunics',
 'Jackets',
 'Trunk',
 'Lounge Pants',
 'Face Wash and Cleanser',
 'Necklace and Chains',
 'Duffel Bag',
 'Sports Sandals',
 'Foundation and Primer',
 'Sweaters',
 'Free Gifts',
 'Trolley Bag',
 'Tracksuits',
 'Swimwear',
 'Shoe Laces',
 'Fragrance Gift Set',
 'Bangle',
 'Nightdress',
 'Ties',
 'Baby Dolls',
 'Leggings',
 'Highlighter and Blush',
 'Travel Accessory',
 'Kurtis',
 'Mobile Pouch',
 'Messenger Bag',
 'Lip Care',
 'Face Moisturisers',
 'Compact',
 'Eye Cream',
 'Accessory Gift Set',
 'Beauty Accessory',
 'Jumpsuit',
 'Kajal and Eyeliner',
 'Water Bottle',
 'Suspenders',
 'Lip Liner',
 'Robe',
 'Salwar and Dupatta',
 'Patiala',
 'Stockings',
 'Eyeshadow',
 'Headband',
 'Tights',
 'Nail Essentials',
 'Churidar',
 'Lounge Tshirts',
 'Face Scrub and Exfoliator',
 'Lounge Shorts',
 'Gloves',
 'Mask and Peel',
 'Wristbands',
 'Tablet Sleeve',
 'Ties and Cufflinks',
 'Footballs',
 'Stoles',
 'Shapewear',
 'Nehru Jackets',
 'Salwar',
 'Cufflinks',
 'Jeggings',
 'Hair Colour',
 'Concealer',
 'Rompers',
 'Body Lotion',
 'Sunscreen',
 'Booties',
 'Waist Pouch',
 'Hair Accessory',
 'Rucksacks',
 'Basketballs',
 'Lehenga Choli',
 'Clothing Set',
 'Mascara',
 'Toner',
 'Cushion Covers',
 'Key chain',
 'Makeup Remover',
 'Lip Plumper',
 'Umbrellas',
 'Face Serum and Gel',
 'Hat',
 'Mens Grooming Kit',
 'Rain Trousers',
 'Body Wash and Scrub',
 'Suits',
 'Ipad']

In [15]:
df["season"].unique()

array(['Fall', 'Summer', 'Winter', 'Spring'], dtype=object)

In [16]:
df["gender"].unique()

array(['Men', 'Women', 'Boys', 'Girls', 'Unisex'], dtype=object)

In [17]:
df.to_csv("Fashion Data/final_styles.csv")

In [18]:
df[df["id"] == 1163]

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
12904,1163,Men,Apparel,Topwear,Tshirts,Blue,Summer,2011.0,Sports,Nike Sahara Team India Fanwear Round Neck Jersey

In [24]:
df[df["subCategory"] == "Innerwear"]

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
18,51832,Women,Apparel,Innerwear,Bra,Beige,Summer,2016.0,Casual,Bwitch Beige Full-Coverage Bra BW335
47,17871,Men,Apparel,Innerwear,Briefs,Maroon,Winter,2016.0,Casual,Levis Men Boxer Maroon Brief
53,32138,Men,Apparel,Innerwear,Briefs,Blue,Summer,2016.0,Casual,Playboy Men Blue Titanium Briefs
83,17885,Men,Apparel,Innerwear,Innerwear Vests,Grey,Summer,2016.0,Casual,Levis Men Comfort Style Grey Innerwear Vest
95,25349,Men,Apparel,Innerwear,Briefs,Red,Summer,2016.0,Casual,Levis Men Red Brief
...,...,...,...,...,...,...,...,...,...,...
44391,45647,Men,Apparel,Innerwear,Briefs,Navy Blue,Summer,2016.0,Casual,Park Avenue Men Navy Blue Briefs
44395,57382,Women,Apparel,Innerwear,Briefs,Black,Winter,2015.0,Casual,Amante Women Pack of 2 Briefs PFCN03
44399,27491,Women,Apparel,Innerwear,Briefs,Pink,Winter,2015.0,Casual,Jockey Women Pink Briefs
44424,15761,Men,Apparel,Innerwear,Innerwear Vests,Green,Summer,2016.0,Casual,Facit Men Hunk Green Innerwear Vest
44429,32143,Men,Apparel,Innerwear,Briefs,Red,Summer,2016.0,Casual,Playboy Men Duet Pack of 2 Briefs

In [20]:
randint()

NameError: name 'randint' is not defined

In [ ]:
for i in range(5):
    p = random.randint(0, len(a))
    print(df[df["articleType"] == a[p]])

In [ ]:
a